.playerControlsIcon {
    color: var(--black);
}

.playerControlsIcon:hover {
    color: white;
}

.controls {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.container {
    grid-area: rhythmMaker;
    background-color: var(--teal);
    margin-top: 0;
    margin-bottom: calc(2.75rem + 1vmin);
    border-radius: 0 5px 5px 5px;
}

.drumContainer {
    display: grid;
    grid-template-columns: 3rem 1fr;
    width: 100%;
}

.drumSection {
    margin: 0 auto;
    width: 80%;
}

.drumTitle {
    font-family: var(--secondary-font);
    color: var(--blue);
    padding-bottom: 5px;
    text-transform: uppercase;
}

.drums {
    padding-left: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drumCheckbox {
    color: inherit;
}

.drumControlContainer {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33% 
}

.inputContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.switchContainer {
    display: flex;
    justify-content: center;
}