  .synthTextureButtonArea {
    grid-area: synthOptions;
    margin-left: 10px;
  }

  .synthTextureButton {
    color: white;
    border: 1px solid var(--black);
    box-shadow: .25rem .25em .25rem var(--red);
    font-family: var(--header-font);
    background-color: var(--black);
    padding: .35rem;
    border-radius: 5px;
  }

  .synthTextureButton:hover {
    background-color: var(--red);
    cursor: pointer;
  }

  .synthTextureButton:focus {
    outline: none;
  }

  .textureOptionContainer {
    display: grid;
    padding: 1rem;
    grid-template-rows: auto;
    grid-gap: 1rem;
    background-color: white;
    box-shadow: .25rem .25em .25rem var(--black);
    border-radius: 5px;
}

  .textureOption {
    background-color: var(--black);
    font-family: var(--secondary-font);
    color: white;
    padding: .25rem;
    border: 1px solid var(--black);
    box-shadow: .25rem .25em .25rem var(--red);
    cursor: pointer;
    border-radius: 3px;
  }

  .textureOption:hover {
    background-color: var(--red);
    cursor: pointer;
  }