.playerControlsIcon {
    color: var(--black);
}

.playerControlsIcon:hover {
    color: white;
}

.controls {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.container {
    grid-area: rhythmMaker;
    background-color: var(--red);
    margin-top: 0;
    margin-bottom: calc(2.75rem + 1vmin);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: .25rem .25rem .25rem var(--black);
    border-radius: 0 5px 5px 5px;
}