.headerContainer {
  width: 80%;
  margin: 0 auto;
  background-color: var(--yellow);
  border-radius: 5px;
}

.appHeader {
  font-size: calc(3rem + 2vmin);
  color: var(--blue);
  font-family: var(--header-font);
  background-color: var(--yellow);
  width: 100%;
  border-radius: 5px;
  text-align: center;
}

.appContainerCenter {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "scale synth";
  grid-template-columns: 10% 1fr;
  grid-gap: 1.5rem;
}

@media (max-width: 500px) {
  .appHeader{
    font-size: calc(2.5rem + 2vmin);
  }
}