.app {
  text-align: center;
}

.appHeader {
  display: flex;
  justify-content: center;
  text-shadow: -3px 5px var(--red);
  font-size: calc(3rem + 2vmin);
  color: var(--black);
  font-family: var(--header-font);
}

.appContainerCenter {
  display: grid;
  grid-template-areas: "scale synth";
  grid-template-columns: 20% 1fr;
  grid-gap: 1.5rem;
}

@media (max-width: 500px) {
  .appHeader{
    font-size: calc(2.5rem + 2vmin);
  }
}