  .rhythmHeaderArea {
    grid-area: header;
    background-color: var(--red);
    box-shadow: .25rem .25rem .25rem var(--black);
    border-radius: 5px 5px 0 0;
    padding-top: 1rem;
  }

  .rhythmHeader {
    font-family: var(--header-font);
    background-color: var(--red);
    color: var(--black);
    font-size: calc(1.2rem + 1vmin);
    margin: .25rem auto .25rem;
    padding: 0 .35rem 0 .35rem;
    border-radius: 5px 5px 0 0;
  }