.app {
  text-align: center;
}

.appHeader {
  display: flex;
  justify-content: center;
  text-shadow: -3px 3px var(--red);
  font-size: calc(3rem + 2vmin);
  color: var(--black);
  font-family: var(--header-font);
}

.appContainer {
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-gap: 1.5rem;
}
