:root {
  --red: #ff3855;
  --black: rgb(7, 7, 7);
  --header-font: 'Candal', sans-serif;
  --secondary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.synthBox {
  border: 1px solid var(--black);
  box-shadow: .25rem .25em .25rem var(--red);
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: .5rem;
  width: 6rem;
  cursor: pointer;
  border-radius: 5px;
}

.synthBoxPlaying {
  background-color: var(--red);
  color: white;
}

@media(max-width: 500px) {
  .synthBox {
      font-size: 1rem;
      width: 3rem;
  }
}