:root {
  --red: #ff3855;
  --black: rgb(7, 7, 7);
  --yellow: #fed22f;
  --teal: #47bfaa;
  --blue: #303595;
  --orange: #fa7533;
  --header-font: 'Candal', sans-serif;
  --secondary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.synthBox {
  border: 1px solid var(--blue);
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: .5rem;
  width: 6rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--yellow);
  user-select: none;
}

.synthBoxPlaying {
  background-color: var(--orange);
}

.iconParent {
  color: var(--yellow);
}

.iconParentPlaying {
  color: var(--orange);
}

@media(max-width: 500px) {
  .synthBox {
      font-size: 1rem;
      width: 3rem;
  }
}