:root {
  --red: #ff3855;
  --black: rgb(7, 7, 7);
  --header-font: 'Candal', sans-serif;
  --secondary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.synthBox {
  border: 1px solid black;
  box-shadow: .25rem .25rem .25rem var(--red), .25rem .25rem .25rem rem white, .25rem .25rem .25rem var(--red),
  .25rem .25rem .25rem white;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.synthBoxPlaying {
  
}