.rhythmTextGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    grid-auto-flow: column;
    margin-bottom: 2rem;
  }
  
  .rhythmTextColumn {
    display: flex;
    justify-content: center;
  }
  
  .rhythmHeader {
    font-family: var(--header-font);
    color: var(--black);
    font-size: calc(1.5rem + 1vmin);
  }
  
  .rhythmButton {
    color: white;
    border: 1px solid var(--black);
    box-shadow: .25rem .25em .25rem var(--red), .25rem .25rem .25rem white, .25rem .25rem .25rem var(--red),
    .25rem .25rem .25rem white;
    font-family: var(--header-font);
    background-color: var(--black);
    padding: calc(0.25rem + .25vmin);
    font-size: calc(1.5rem + 1vmin);
  }
  
  .rhythmButton:hover {
      background-color: var(--red);
      cursor: pointer;
  }

  .rhythmButton:focus {
    outline: none;
  }